.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-color: #282c34;
  }
  
  .column {
    flex: 1;
    padding: 20px;
    margin: 10px;
    width: 100%;
    display: inline-block;
    text-align: center;
    background-color: #282c34;
    color: white;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
  
  .label {
    flex: 1;
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: auto;
    text-align: center;
  }
  
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #282c34;
    margin-top: 0;
    margin-bottom: 0;
    color: white;
  }
  
  .container > .column {
    flex-basis: 100%;
  }

  .p {
    display: flex;
    align-items: center;
  }
  